html,body{
background: url(picture3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    box-shadow: inset -1px 0px 0px 0px #DDDDDD;
    background-color: #f4f3ef;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}


#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
/*navbar*/

/*::-webkit-input-placeholder {
    color: #f44336;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
}*/

.navbar-toggle{
    width: 39px;
    height: 36px;
    margin-top: 15px;
    background-color: #16B7FF;
    color: white;
}

.nav .dropdown-menu{
    background-color:#f4f3ef;
    font-size: 17px;
    width: 30px;
}

.navbar{
    border-radius: 0px;
}

.desno{
    font-size: 18px;
    margin-top: 10px
}

.badgenot {
		position:relative;
	}
	.badgenot[data-badge]:after {
        content:attr(data-badge);
		position:absolute;
		top:3px;
		right: 1px;
		font-size:.7em;
		background:#16B7FF;
		color:white;
		width:20px;height:20px;
		text-align:center;
		border-radius:50%;
        font-size: 14px;
        font-weight: 600;
}

.desno a{
    margin-left:10px;
}

/* Sidebar */

.broj{
    background-color:#16B7FF;
    color: white;
    float: right;
    font-size: 14px;
    padding-left:0px;
}


.togle{
    margin-top: 15px;
    background-color: #16B7FF;
    color: white;
}

.list-group-item {
    background-color: #f4f3ef;
    padding-right: 40px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 20px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

.sidebar-nav .sidebar-brand a {
    color:#777;
}

.sidebar-nav .sidebar-brand a:hover,
.sidebar-nav .sidebar-brand a:focus{
    color: #16B7FF;
    background: none;
    text-decoration: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

}

.sidebar-brand {
    padding: 18px 0px;
    margin: 0 30px;
}


/*input*/


#dodaj{
    background-color: #16B7FF;
    color: white;
    height: 62px;
    border-radius: 1px;
}

#input{
    border-radius: 0px;
    height: 62px;
    background-color:#efffff;
 
}

#opcije{
     background-color:#efffff;
    border-radius: 0px;
    height: 62px;
    width: 60px;
    border: none;
}



/*sve*/
/*sidebar*/
h3:hover {
}

h3{
    font-size: 20px;
    margin-left:-30px;
    margin-top: 13px;
    cursor: pointer;
}

.sidebar-nav li {
    padding-bottom: 12px;
}

.sidebar-nav li:hover{
    background-color: lightsteelblue;
    font-size: 22px;
}


.navbar-default {
    background-color: #f4f3ef;
    border: 0px;
    padding-bottom: 6px;
    padding-right: 50px;
    padding-left: 10px;
}

/*taskovi*/
#lista div{position:relative;
margin-bottom: 8px;
min-height: 50px;
width: 80%;
}

#lista div .opisi {
    border:none;
    border-radius: 3px;
    position: relative;
    font-size: 20px;
width: 100%;
height: 55px;
padding-left: 55px;
/*background-image: linear-gradient(to bottom, #fff, #f9f9f9);*/
}

.iksic {
    position: absolute;
    right: 10px;
    background-color: white;
    border: none;
    height: 70%;
    width: 45px;
    top:8px;
    font-size: 25px;
    border-radius:10px;
}

.inputDatumi {
    border: none;
    font-size: 17px;
    width: 100px;
    position: absolute;
    right: 80px;
height: 80%;
top:6px}

#lista div input[type=checkbox] {float:left;
    position: absolute;
    left:14px;
    top:10px;
    height: 50%;
    width: 30px;
    cursor: pointer;
    border: none;
}
.iksic:hover {
    font-size: 28px;
    color: red;
}


#lista div .opisi:hover {}

#lista div .opisi:focus {}


#ulToday {
  
    
}

.tModal{
    list-style: none;
    border: 10px;
    font-size: 19px;
    position: relative;
    padding-left: 10px;

}


.tModal:before{
       content: "\f12a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 19px; 
    position: absolute;
    top: 0px;
    left: -12px;
    color:red;

}

.edit{
    border: none;
}

.fa-print,.fa-trash{
margin-left: 25px;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 10px;
   
}

.fa-print:hover,.fa-trash:hover,
.sidebarfut:hover,.sakrij:hover{
    color:#16B7FF;
}

.sidebarfut{
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.sakrij{
    color:#f4f3ef;
    font-size: 17px;
}
.modal-content{
    background-color: #F7F7F7;
}

.fa-book,.fa-calendar{
    margin-right: 5px;
}

#inputDatum{
    width: 200px;
}

h3 i{
    margin-right: 10px;
}

@media only screen and (max-width: 480px){
    .iksic{background-color:#f2f2f2 }
    #lista div .opisi{font-size: 16px;
    background-color: #f2f2f2}
    #input{
    font-size: 15px;}
    .inputDatumi{display:none;}
    #lista div{width: 110%;
    
    left:-20px;}
    #opcije{width:60px;
    margin-left: -20px;
    padding-left: 30px}
    #dodaj{width: 80px;
        padding-left: 5px;
        font-size: 12px;}
    #page-content-wrapper{padding-left: 0px;
    width: 100%;}
   
}


