#page{
    font-family: 'Open Sans', sans-serif;
     background-color: #ECF0F1;
  }
  
  p {
      font-size: 17px;
  }
  
  
  .navbar {
      padding-top: 10px;
      padding-bottom: 10px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 16px;
      letter-spacing: 5px;
      font-weight: 500;
  }
  
  .navbar-nav li a:hover {
      color: #2D6CDF !important;
      border-bottom: 0.01px solid #2D6CDF;
  }

/*Naslov*/
  
  #box-wrapper {
      color: #f5f6f7;
      background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(slika3.jpg);
      z-index:-1;
      background-attachment: fixed;
      background-position: center;
      background-repeat: none;
      background-size: cover;
      min-height: 640px;
      line-height: 1.9;
  }
  
  #box-wrapper h1 {
      font-size: 45px;
      font-weight:900;
      padding-top: 30px;
  }

.plavi{
    background-color: #ECF0F1;
    color:#2D6CDF;
    border-radius: 10px;
}

.plavi:hover{
    background-color: #2D6CDF;
    color: white;
}

.plavi:active{
    background-color: #2D6CDF;
    color: white;
}
  
  #box-wrapper h1,
  #box-wrapper p,
  #box-wrapper button {
      margin-top: 20px;
  }

#box-wrapper .prvib {
    background-color: #2D6CDF;
}
  
  #box-wrapper .btn {
      margin: 40px 30px 10px 0px;
  }
/*modal*/
 .pb-modalreglog-container
    {
        margin-top: 100px;
    }

    .pb-modalreglog-legend
    {
        text-align: center;
    }

    .pb-modalreglog-input-group
    {
        margin: auto;
    }

    .pb-modalreglog-submit
    {
        margin-left: 5px;
    }

    .pb-modalreglog-form-reg
    {
        text-align: left;
    }

    .pb-modalreglog-footer p
    {
        text-align: center;
        margin-top: 20px;
    }

.modal-content{
    background-color: #F7F7F7;
}

.modal-footer .btn-primary {
    background-color: #4d90fe;
}

/* prvi paragraf*/


.prvi{
    background-color: #ECF0F1;
    margin-bottom: 10px;
    min-height: 650px;
}


.prvi h2:before{
    content: "";
    position: absolute;
    width: 12%;
    bottom: -10px;
    left: 43%;
    border-bottom: 2px solid  #4d90fe;
}

.funkcije {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
}
.funkcije h3 {
    font-weight: 500;
    margin-top:-10px;
}

.funkcije p {
color: black;
    margin-top: 10px
}

.funkcije .icon {
  width: 90px;
  height: 90px; 
  display: table;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 50%;
  transition: 0.3s;
    border: 1.5px solid #2D6CDF;
}

.funkcije .icon i:hover{
    background-color:  #2D6CDF;
    color: aliceblue;
    border-radius: 50%;
}
@media screen and (max-width: 992px) {
  .funkcije .icon {
    margin: 0 auto 30px auto;
  }
.botuni{ margin: 50px auto 30px auto;}
}
.funkcije .icon i {
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  line-height: 40px;
color: #2D6CDF;
}

/*drugi paragraf*/

.drugi{
    color: #f5f6f7;
      background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(slika3.jpg);
      z-index:-2;
      background-attachment: fixed;
      background-position: center;
      background-repeat: none;
      background-size: cover;
      min-height: 160px;
      line-height: 1.7;
}

.drugi h2, .botuni{
    margin-top: 60px;
}



.loginBtn {
  box-sizing: border-box;
  position: relative;
   width: 13em;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.facebook  {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-shadow: 0 -1px 0 #354C8C;
}
.facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}


.facebook:hover,
.facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

/* Google */
.google {
  font-family: "Roboto", Roboto, arial, sans-serif;
  background: #DD4B39;
}
.google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.google:hover,
.google:focus {
  background: #E74B37;
}

.login2{ 
  margin: 0.2em;
  padding: 0 40px 0px 40px;
  border: none;
  line-height: 34px;
  border-radius: 0.2em;
  font-size: 16px;
    background-color: #4C69BA;
}
.login2:hover,
.lohin2:focus{
    background-color: #5B7BD5;
}

/*tim #489FDF*/



.team {
    min-height: 640px;
    padding: 50px 0px 100px;
    text-align: center;
    background-color: white;
}

.team img {
    border:1px solid #2D6CDF;
    height: 150px;
    width: 150px;
    margin-top: 80px;
}

.single-team{
    
    border:3px solid #457fca;
    
    box-shadow: 20px 20px 10px gray;
    margin-top: 50px;
    background: #457fca;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
}

.slikamem{
    position: relative;
    top: -30px; 
}

#team h2:after{
     content: "";
    position: absolute;
    width: 10%;
    bottom: 40px;
    left: 45%;
    border-bottom: 2px solid  #4d90fe;
}

#team h2{

}

#team p{
    margin-top: 20px;
}

#team h3{
    margin-top:8px;
}


/*carosel testemonials*/

section {
    padding-top: 100px;
    padding-bottom: 100px;
   min-height: 560px;
}

.slikapoz{
    background-size: 100% 100%;
}


#fade-quote-carousel.carousel {
  padding-bottom: 30px;
       padding:30px;
    border: 3px solid #2D6CDF;
    border-radius: 20px;
    box-shadow: 20px 20px 10px gray;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
 
    
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #2D6CDF;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}

#fade-quote-carousel p{
    font-size: 17px;
}

#fade-quote-carousel i{
    color:#2D6CDF;
}
#fade-quote-carousel .profile-circle {
    width: 170px;
    height: 170px;
    margin: 0 auto;
    border-radius: 100px;
}


#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}

#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}

/* broj*/

.brojac{  color: #f5f6f7;
      background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(slika3.jpg);
      z-index:-2;
      background-attachment: fixed;
      background-position: center;
      background-repeat: none;
      background-size: cover;
      min-height: 140px;
      line-height: 1.7;
    min-height: 400px;
    font-family: "Roboto Slab", serif;
}

.bootcamp{
    margin-top: 100px;
}

.brojac h1{
    font-size: 44px;
}


/*footer*/

.footer{
    background-color: black;
    color:white;
    width: 100%;
    min-height:100px;
}

.duo{margin-top: 35px;
}